.input {
  display: flex;
  flex-direction: column;
  /* padding: 12px 16px; */
}

.tgui-8ca550c2fc85eff5 {
  padding: 6px 0;
}

.input__label {
  margin-bottom: 6px;
  color: var(--tg-theme-subtitle-text-color);
  font-size: 14px;
}

.input__field {
  width: 100%;
}

.button {
  width: 100%;
  margin: 12px 16px;
}

.button--primary {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}

.button--secondary {
  background: transparent;
  border: 1px solid var(--tg-theme-hint-color);
  color: var(--tg-theme-text-color);
}
